body {
    color: white;
    font-family: "Playfair Display", serif;
    background-color: #2d2b2b;

}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)),
        url(images/notjustdonutslogo.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 240px 0;
}

header h1 {
    font-family: "Style Script", cursive;
    font-weight: 450;
    font-size: 96px;
    line-height: 1;
    margin: 30 0;
}

header h2 {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 1.5;
}

header h3 {
    font-family: "Playfair Display", serif;
    font-weight: 450;
    font-size: 24px;
    letter-spacing: 5px;
    line-height: 1.5;
}

header a {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-decoration: none;
    color: #2d2b2b;
    border-radius: 12px;
    background-color: white;
    padding: 16px 32px;
    display: inline-block;
    margin-top: 32px
}

footer {
    color: white;
    text-align: center;
}

@media (max-width:900px) {
    header {
        padding: 60px 0;
    }

    header h1 {
        font-size: 48px
    }

    header h2 {
        font-size: 20px;
    }

    header h3 {
        font-size: 12px;
    }
}